*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #F09819;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.Heading{
    font-size: 40px;
    text-align: center;
    margin: 30px;
    color: rgb(100, 100, 100);
}

.head{
    color: yellow;;
}

.input{
    display: flex;
   
    justify-content: center;
    align-items: center;
}


input{
    padding: 20px 30px;
    margin: 20px;
    width: 60%;
    font-size: 20px;
    outline: none;
    border: 2px solid greenyellow;
    color: gray;
  font-weight: 700;
  border-radius: 5px;
}

.btn{
    padding: 20px 30px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color:#edde5d ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

hr{
      border: 4px double yellowgreen; 
     box-shadow: 1px 1px 3px yellow;
}

#card{
  
   margin-top: 10%;
   position: relative;
   margin: 50px;
   border-radius: 20px;
   /* border: 2px solid red; */
   width: fit-content;
   overflow: hidden;
   padding: 10px;
   background-color: rgb(240, 246, 203);
   cursor: pointer;
   

}

img{
    transition: transform 0.5s ease-in-out;
  
}
 


#card:hover img{
    transform: scale(1.1);
}

#card:hover .layer{
    height:100% ;
    cursor: pointer;
}

#mName{
    /* position: absolute; */
    /* top: 0; */
    /* left: 150px; */
    font-size: 30px;
    
    word-break: break-all;
    overflow-wrap: break-word;
    width:px
    
    
}

i{
    font-size: 80px;
    color: rgba(211, 211, 30,0.9);

}

i p{
    font-size: 20px;
    line-height: 40px;
    color: rgba(9, 247, 96,0.7) ;
}

#Img{
   width: 300px;
   height: 500px;
 }

 #Container1{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    padding: 50px;
    justify-content: space-around;
 }

#mName{
    text-align: center;
    width: 300px;
}

 #year{
    font-size: 20px;
    text-align: center;
 }


 .layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6),yellowgreen);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
   font-size: 14px;
   transition: height 0.5s ;
}

.mid{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
   
}
.btn2{
   margin-bottom:40px ;
}

.btn:hover{
    background-color: aquamarine;
    transform: scaleX(1.1);
    transition: all 0.3s ease-in;
}

  @media only screen and (max-width: 700px) {
    body {
      /* background-color: yellow; */
    }
    #mName{
        /* font-size: 20px; */
        
         font-size: 15px;
         width: 100%;
         
     }
     #year{
        font-size: 15px;
        text-align: center;
     }
    #Container1{
        
        display: flex;
        justify-content: center;
       
     }
     #Img{
        width: 160px;
        height: 300px;
      }

      .Heading{
        font-size: 30px;
        text-align: center;
        margin: 30px;
        color: rgb(100, 100, 100);
    }

    input{
        padding: 10px 20px;
        margin: 20px;
        width: 50%;
        font-size: 15px;
        outline: none;
        border: 2px solid greenyellow;
        color: gray;
      font-weight: 700;
      border-radius: 5px;
    }

    .btn{
        padding: 10px 20px;
        font-size: 15px;
    }
  
  }

  /* #seeMore{
    display: none;
  } */

  .Error{
    font-size: 30px;
    text-transform: capitalize;
    text-transform: uppercase;
    color: yellowgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

/* INFO PAGE */

#Info_container{
    display: flex;
    height: 100vh;
    /* justify-content: ; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
    color: white;
    filter: blur(0.7px);
}

#info-frame p{
    width: 100%;
    margin: 20px;
    padding: 10px 20px;
    font-size: 24px;
}

#range i{
      font-size: 30px;
      padding: 10px 5px;
      color: rgb(255, 255, 0);
}

h3 i{
    font-size: 30px;
      padding: 10px 5px; 
      color: rgb(255, 255, 0);
}

#info-frame{
    position: relative;
    text-align: center;
    width: 70%;
    background-color: rgba(126, 126, 126, 0.3);

    /* border: 2px solid yellow; */
    padding: 10px 20px;
    box-shadow:2px 3px 5px 7px yellow ;
  
    transition: rotate 0.8s ease-in-out ;
}

#info-frame:hover{
    rotate: 360deg;
    transform: scale(1.2);
}

#info-frame img{
    position: absolute;
    top:0;
    left:0;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 10px 10px;
}

@media only screen and (max-width: 700px) {
    #info-frame{
        position: relative;
        text-align: center;
        width: 95%;
        background-color: rgba(126, 126, 126, 0.3);
    
        /* border: 2px solid yellow; */
        padding: 10px 20px;
        box-shadow:2px 3px 5px 7px yellow ;
      
        transition: rotate 0.8s ease-in-out ;
    }

    #range i{
        font-size: 15px;
        padding: 10px 5px;
        color: rgb(255, 255, 0);
  }

  #info-frame p{
    width: 100%;
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 30px;
}

#info-frame img{
    position: absolute;
    top:0;
    left:0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 10px 10px;
}


    
}

a{
    text-decoration: none;
    color: yellowgreen;
}